<div ng-if="model" class="row example-container">
    <form role="form" name="form.test" id="form.test" novalidate class="col-sm-12">
        <div class="form-group">
            <label for="address" class="control-label">Address</label>
            <input type="text" id="address" class="form-control" ng-model="model.address">
        </div>

        <div class="form-group">
            <label for="gender" class="control-label">Gender</label>
            <div>
                <label><input id="gender" type="radio" ng-model="model.gender" value="male" />male</label>
                <label><input type="radio" ng-model="model.gender" value="female" />female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="dateOfBirth" class="control-label">Date of Birth</label>
            <input type="date" id="dateOfBirth" placeholder="yyyy-MM-dd" class="form-control" ng-model="model.dateOfBirth"/>
        </div>

        <div class="form-group">
            <label for="phoneNumber" class="control-label">Contact number</label>
            <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="phoneNumber" class="form-control" ng-model="model.phoneNumber"/>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-click="save(model)">Save</button>
        </div>

    </form>
</div>