.media img {
	height: 100px;
}

.p-t-8 {
	  padding-top: 8px !important;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
	cursor: pointer;
}

.navbar-pf {
	background: #fe9b07;
	border-top: 0px;
}

.navbar-brand {
	display: flex;
	align-items: center;
}

.navbar-title {
	font-size: 32px;
    margin-left: 10px;
    font-weight: 600;
}

.navbar-pf .navbar-utility>li>a {
	color: #ffffff !important;
	font-weight: 600;
}