@import "~basscss/css/basscss.min.css";

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #F4F4F4 0 0 no-repeat padding-box;
}

#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.success {
  background-color: #01ac51;
}

.text-success {
  color: #01ac51;
}

label {
  margin-bottom: 1rem;
  .MuiSvgIcon-root {
    margin-left: 0.5rem;
    height: 20px;
  }
}

.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-upper-case {
  text-transform: uppercase;
}

.text-lower-case {
  text-transform: lowercase;
}

.ml-auto {
  margin-left: auto;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.color-inherit {
  color: inherit;
}

.fill-red {
  fill: #ed1944;
}
